@media only screen and (max-width: 768px) {
    .hide-on-small-screen {
        display: none;
    }
}

.circular-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.filter-purple {
    filter: invert(38%) sepia(8%) saturate(4638%) hue-rotate(183deg) brightness(98%) contrast(85%);
}

li, .pdf-links {
    margin-top: 12px;
}